<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Enviar parametros del request HTTP GET - URL</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Enviar parametros del request HTTP GET - URL</h1>
        <ul>
            <li>
                <a th:href="@{/params/string(texto='Hola Eduardo')}">/params/string?texto=Hola Eduardo</a>
            </li>
            <li>
                <a th:href="@{/params/string(texto='Que tal Eduardo')}">/params/string?texto=Que tal Eduardo</a>
            </li>
            <li>
                <a th:href="@{/params/mix-params(saludo='Eduardito', numero=7)}">/params/mix-params?saludo=Eduardito&numero=7</a>
            </li>
            <li>
                <a th:href="@{/params/mix-params-request(saludo='Eduardito', numero=7)}">/params/mix-params-request?saludo=Eduardito&numero=7</a>
            </li>
        </ul>
    </body>
</html>
