<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <section th:replace="componentes/tiempo :: interceptor"></section>
        <h1 th:text="${titulo}"></h1>
        <div class="container">
            <form th:action="@{/form}" th:object="${usuario}" method="post">

                <div class="form-group">
                    <label for="habilitar">Habilitar</label>
                    <div>
                        <input type="checkbox" id="habilitar" th:field="*{habilitar}" class="form-control">  
                    </div>
                </div>

                <div class="form-group">
                    <label>Género</label>
                    <div th:each="gen: ${genero}">
                        <input type="radio" th:field="*{genero}" th:value="${gen}" class="form-control">
                        <label th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
                    </div>
                    <div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
                </div>

                <div class="form-group">
                    <label for="pais">País</label>
                    <div>
                        <select id="pais" th:field="*{pais}">
                            <option value="">--Seleccionar--</option>
                            <option th:each="pais:${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}" class="form-control">
                            </option>
                        </select>
                    </div>
                    <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
                </div>

                <div class="form-group">
                    <label>Roles</label>
                    <div th:each="role:${listaRoles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role.id}"
                               th:checked="${#lists.contains(usuario.roles, role)}" class="form-control">
                        <label th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
                    </div>
                    <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
                </div>

                <div class="form-group">
                    <label for="nombre">Identificador</label>
                    <div>
                        <input type="text" id="identificador" th:field="*{identificador}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></div>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <div>
                        <input type="text" id="nombre" th:field="*{nombre}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <div>
                        <input type="text" id="apellido" th:field="*{apellido}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                </div>

                <div class="form-group">
                    <label for="username">UserName</label>
                    <div>
                        <input type="text" id="username" th:field="*{username}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div>
                        <input type="password" id="password" th:field="*{password}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <div>
                        <input type="text" id="email" th:field="*{email}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <div class="form-group">
                    <label for="email">Cuenta</label>
                    <div>
                        <input type="number" id="cuenta" th:field="*{cuenta}" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
                </div>

                <div class="form-group">
                    <label for="email">Fecha Nacimiento</label>
                    <div>
                        <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd" class="form-control">
                    </div>
                    <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </div>
                </div>

                <input type="hidden" th:field="*{valorSecreto}">
            </form>
        </div>
    </body>
</html>