<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <section th:replace="componentes/tiempo :: interceptor"></section>
        <h1 th:text="${titulo}"></h1>
        <ul>
            <li th:text="${usuario.identificador}"></li>
            <li th:text="${usuario.nombre}"></li>
            <li th:text="${usuario.apellido}"></li>
            <li th:text="${usuario.username}"></li>
            <li th:text="${usuario.password}"></li>
            <li th:text="${usuario.email}"></li>
            <li th:text="${usuario.cuenta}"></li>
            <li th:text="${usuario.pais.id}"></li>
            <li th:text="${usuario.pais.codigo}"></li>
            <li th:text="${usuario.pais.nombre}"></li>
            <li th:text="${#dates.format(usuario.fechaNacimiento,'dd/MM/yyyy')}"></li>
            <li th:text="'Habilitado : '+ ${usuario.habilitar}"></li>
            <li th:text="'Género : '+ ${usuario.genero}"></li>
            <li th:text="'Valor Oculto : '+ ${usuario.valorSecreto}"></li>
        </ul>
        <div>Roles</div>
        <ul>
            <li th:each="role: ${usuario.roles}" th:text="${role.id}+' : '+ ${role.nombre}+' => '+${role.role}"></li>
        </ul>

    </body>
</html>