<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
    </head>
    <body>
        <header th:replace="layout/layout :: header">

        </header>

        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}">

                </div>
                <div class="card-body">
                    <div th:object="${cliente}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>

                    <form th:action="@{/form}" th:object="${cliente}" method="post">
                        <table>
                            <tr>
                                <td>Nombre</td>
                                <td><input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/></td>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                            </tr>
                            <tr>
                                <td>Apellido</td>
                                <td><input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'"/></td>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/></td>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                            </tr>
                            <tr>
                                <td>Fecha</td>
                                <td><input type="text" th:field="*{createAt}" class="form-control" th:errorclass="'form-control alert-danger'"/></td>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Crear Cliente"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>


        <footer th:replace="layout/layout :: footer">

        </footer>
    </body>
</html>
