<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
    </head>
    <body>

        <header th:replace="layout/layout :: header">

        </header>

        <div class="container py-4">

            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}">

                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="btn btn-primary btn-xs" th:href="@{/form}" >Crear Cliente</a> 
                    </h4>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Fecha</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cliente: ${clientes}">
                                <td th:text="${cliente.id}"></td>
                                <td th:text="${cliente.nombre}"></td>
                                <td th:text="${cliente.apellido}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.createAt}"></td>
                                <td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
                                <td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'" onclick="return confirm('Estas seguro?');"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <footer th:replace="layout/layout :: footer">

        </footer>

    </body>
</html>
