<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Enviar parametros del request HTTP GET - URL</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Enviar parametros del request HTTP GET - URL</h1>
        <ul>
            <li>
                <a th:href="@{/variables/string/}+'Hola Eduardo'">/variables/string/Hola Eduardo</a>
            </li>
            <li>
                <a th:href="@{/variables/string/}+'Que tal Jhon'">/variables/string/Que tal Jhon</a>
            </li>
            <li>
                <a th:href="@{/variables/string/}+'Saludos Eduardo'+'/'+7">/variables/string/Saludos Eduardo/7</a>
            </li>
        </ul>
    </body>
</html>
