<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 class="color-rojo" th:text="${titulo}"></h1>
        <h2 class="color-azul">Decordando con estilos css recursos estáticos</h2>
        <img th:src="@{/images/mario.jpg}"></img>
    </body>
</html>
