<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>

        <div th:if="${usuarios.isEmpty()}">No hay Usuarios en la Lista</div>

        <table th:if="${!usuarios.isEmpty()}">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                </tr>

            </thead>
            <tbody>
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.email}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
