<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 th:text="${usuario.nombre}"></h1>
        <h1 th:text="${usuario.apellido}"></h1>

        <h1 th:if="${usuario.email}" th:text="${usuario.email}"></h1><br>
        <h1 th:if="${usuario.email==null}" th:text="'El usuario no tiene correo'"></h1>
    </body>
</html>
